<div class="row" style = "margin-bottom:16px; border-bottom: 1px solid #ccc;padding-bottom:8px" >
  <div class="col-10">
      <h4 style="margin-bottom:4px; color:rgb(100,100,100)"> 
       {{job['title']}} 
      </h4>
    
      <div>
        <b> Location:</b> {{job['location']}}
      </div>
      <div>
        {%if 'salary' in job %}
          <b> Salary: </b>{{job['salary']}}
        {% endif %}
      </div>
    </div>
  <div class="col-2">
    <a href="mailto:shreesh1060@gmail.com?subject=Application%20for%20the%20post%20of%20{{job['title']}}&body=Name%20%3A%20%3CYour%20Name%20here%3E%0D%0A%0D%0ALinkedIn%20%3A%20%3CLinkedIn%20link%20here%3E%0D%0A%0D%0AResume%20%3A%20%3CYour%20Resume%20link%20here%3E" class="btn btn-outline-primary float-end mt-3" tabindex="-1" role="button" aria-disabled="true">Apply</a>
  </div>
</div>